<style>
  .svc-img { max-width: 200px; margin-right: 1rem; }
  @media (max-width: 767.98px) { .svc-img { margin-right: 0; } }
</style>

<div class="container bg-white py-5">
  <div class="row align-items-center gx-md-2">

    <div class="col-sm-12 col-md-6 p-3 d-flex justify-content-center justify-content-md-flex">
      <img
        src="https://picsum.photos/300/300?blur"
        alt="Heisenberg"
        class="img-fluid rounded-circle shadow-sm"
        style="height: auto; object-fit: cover;"
        />
    </div>


    <div class="col-sm-12 col-md-6 p-3">
      <h2 class="fw-bold">
        The Second Heading <span class="text-muted">Is Pretty Cool Too.</span>
      </h2>
      <p class="text-muted mt-3">
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula
        porta felis euismod semper. Praesent commodo cursus magna, vel
        scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
      </p>
    </div>
  </div>
</div>