<div class="container-fluid px-0">
    <div class="card text-bg-dark rounded-0" style="height: 30rem;">
        <img src="https://img2.rtve.es/i/?w=1600&i=1628354686259.jpg" class="object-fit-cover h-100" alt="...">
        <div class="card-img-overlay">
            <div class="text-center pt-5">
                <p class="card-text bg-light bg-opacity-50 text-dark fw-bold display-1">One Page Wonder</p>
                <p class="card-text bg-light bg-opacity-50 text-dark fw-bold display-5">Will Knock Your Socks Off</p>
            </div>
        </div>
    </div>